.DS_Store
reports/chrome.html
src/__pycache__/
src/page/__pycache__/
src/page/custon_fail/__pycache__/
src/page/get_started/__pycache__/
src/page/html_reporter/__pycache__/
src/page/utils/__pycache__/
src/test/__pycache__/
src/test/suites/__pycache__/
src/test/suites/alli_express/__pycache__/
src/test/suites/alli_express/alli_express_test_suite/__pycache__/
src/test/suites/transversal/__pycache__/
src/page/alli_express_view/__pycache__/
